<div class="show_post">
  
  <div class="post_title"><%= @question.title %></div>
  <div class="post_body"><%= @question.content %></div>
  
  <%= render partial: "shared/voting", locals: {voteable: @question} %>

  <%= link_to "Answer Question", new_question_answer_path(@question) %>
</div>

<div class="answers">
  <h1>Answers</h1>
  <ul class="answers">
    <% @question.answers.each do |answer| %>

    <li><%= answer.content %></li>

    <%= render partial: "shared/voting", locals: {voteable: answer} %>


    <% end %>
  </ul>



