<% if flash[:errors] %>
  <div class="errors">
    <% flash[:errors].each do |error| %>
      <p> <%= error %> </p> 
    <% end %> 
  </div>
<% end %>
<%= form_for(:session, url: sessions_path) do |f| %>
  <%= f.text_field :email %><br>
  <%= f.password_field :password %><br>
  <%= f.submit "Sign In" %>
<% end %>
