
<h2><%= @user.name %>'s Profile</h2>
<ul class="user_nav">
  <li><%= link_to "Edit", edit_user_path %></li>
  <li><%= link_to "Delete", user_path, :method => "delete" %></li>
</ul>

<div class="stats">
  <table>
    <tr>
      <th>Question Votes</th>
      <th>Answer Votes</th>
      <th>Favorited Answers</th>
    </tr>
    <tr>
      <td><%= @user.sum_question_votes %></td>
      <td><%= @user.sum_answer_votes %></td>
      <td><%= @user.favorited_answers_count %></td>
    </tr>
  </table>
</div>

<div class="user_questions">
  <h1>Questions</h1>
  <ul class="questions">
  <% @user.questions.each do |q| %>
    <li><a href="/questions/<%= q.id %>"><%= q.title %> </a> <%= "(#{pluralize(q.sum_votes, 'vote')})"%> </li>
  <% end %>
  </ul>
</div>


<div class="user_answers">
  <h1>Answers</h1>
  <ul class="user_answer">
    <% @user.answers.each do |a| %>
    <li>"<%= a.content %>" <%= "(#{pluralize(a.sum_votes, 'vote')})"%> on question: <%=link_to a.question.title, a.question%></li>
    <% end %>
  </ul>
</div>
