<div class="answer">

  <li>
    <%= link_to winner_path(winner_id: answer.id, question_id: question.id), :remote => true, :method=> 'post', :class => "winner" do %>
    <% if question.winner == answer.id %>
    <i class="icon-star icon-3x"></i> 
    <% else %>
    <i class="icon-star-empty icon-3x"></i>
    <% end %>   
    <%= render partial: "shared/voting", locals: {voteable: answer} %>
    <div class="answer_content">
      <p><%= answer.content %></p>
      <% if answer.user %>
      <p>From: <%= answer.user.name %></p>
      <% else %>
      <p>From: [Deleted Account]</p>
      <% end %>
    </div>
    <div class="delete_button_div">
      <%= link_to "Delete Answer", [question, answer], :method=> 'delete', :class => "delete_button small" if answer.user == current_user%>
    </div>

  </li>

  <% end %>
</div>
