<nav id="main_nav">
  <div id='header'><%= link_to 'DBC Overflow', root_path %></div>
  <% if current_user %>
    <%= link_to "Profile", user_path(current_user) %>
    <%= link_to "Sign Out", signout_path, method: "delete" %>
    <%= link_to 'New post', new_question_path %>
  <% else %>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Sign In", signin_path %>
  <% end %>
</nav>
